/*公用*/
.comWidth{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
.grey{
	background-color: #f0f0f0;
}
.hide{
	display: none;
}
.show{
	display: block;
}
.leftArea{
	float: left;
}
.rightArea{
	float: right;
}
/*topBar*/
.topBar{
	height: 31px;
	background-color: #f7f7f7;
	line-height: 31px;
}
.topBar a:hover{
	color: dodgerblue;
}
.collection{
	background: url(../img/icon/collection.jpg) left center no-repeat;
	padding-left: 19px;
	font-weight:bold;
}
/*logoBar*/
.logoBar{
	height: 85px;
	background-color: #1D7AD9;
}
/*logo*/
.logo{
	padding-left: 41px;
	padding-top: 13px;
	float: left;
}
/*search*/
.search_box{
	width: 430px;
	float: left;
	padding-top: 23px;
	padding-left: 185px;
}
.search_text{
	width: 350px;
	height: 35px;
	float: left;
	background-color: #fff;
	line-height: 35px\9;
	padding: 0 5px;
}
.search_btn{
	width:70px;
	height: 35px;
	font-family: "microsoft yahei","微软雅黑";
	font-size: 14px;
	color: #fff;
	background-color: #FF8C00;
	float: left;
}
/*shopCar*/
.shopCar{
	float: right;
	width: 145px;
	height: 35px;
	margin-top: 23px;
	margin-right: 59px;
	background-color: #FF8C00;
	display: inline;
}
.shopText{
	background: url(../img/icon/shopcar.jpg) 10px center no-repeat;
	float: left;
	color: #fff;
	line-height: 35px;
	height: 100%;
	width:87px;
	font-family: "microsoft yahei","微软雅黑";
	font-size: 14px;
	text-indent: 40px;
	border-right: #E27A00 solid 1px;
}
.shopNum{
	float: left;
	background: url(../img/icon/num.jpg) 33px center no-repeat;
	color: #fff;
	font: 14px/35px "微软雅黑","microsoft yahei";
	border-left: #FF9C01 solid 1px;
	width: 27px;
	height: 35px;
	text-align: right;
	padding-right: 29px;
}
/*导航*/
.navBox{
	height: 36px;
	color:#fff;
	background-color: #1369C0;
}
.shopClass{
	float: left;
	width: 190px;
	position: relative;
}
.shopClass h3{
	font-size: 16px;
	font-family: "微软雅黑","microsoft yahei";
	text-align: center;
	line-height: 35px;
}
.shopClass i{
	background: url(../img/icon/triangle.png) left center no-repeat;
	width: 11px;
	height: 7px;
	overflow: hidden;
	margin-left: 11px;
	display: inline-block;
}
/*nav*/
.nav{
	line-height: 35px;
}
.nav li{
	float: left;
}
.nav a{
	text-align: center;
	display: inline-block;
	font-family: "微软雅黑","microsoft yahei";
	color: #fff;
	font-size: 14px;
	padding: 0 35px;
	height: 36px;
}
.nav .active{
	background-color: #4593FD;
	text-decoration: none;
}
/*导航栏弹出列表*/
.shopClass_show{
	background-color: #4593FD;
	width: 100%;
	position: absolute;
	top: 36px;
	left: 0px;
}
.shopClass_item{
	padding: 12px 10px;
	border-top: #5AA1FE solid 1px;
	border-bottom: #3487F2 solid 1px;
	line-height: 16px;
}
.shopClass_item dt{
	height: 20px;
	background: url(../img/icon/right.png) right center no-repeat;
	overflow: hidden;
	line-height: 1;
}
.shopClass_item dt a{
	font: 14px/1 "微软雅黑","microsoft yahei";
	color: #fff;
	height: 24px;
	font-weight: bold;
}
.shopClass_item dd a{
	font: 14px/1 "微软雅黑","microsoft yahei";
	color: #fff;
}
.shopClass_item .aLink{
	width: 48px;
	height: 20px;
	background: url(../img/icon/background.png) left center no-repeat;
	display: inline-block;
	line-height: 20px;
	text-align: center;
	font-weight: normal;
	font-size: 12px;
}
.shopClass_active/*动态*/{
	background: #fff;
	border-left: #4593FD solid 1px;
}
.shopClass_active dt{
	background: none;
}
.shopClass_active dt a{
	color: #000000;
}
.shopClass_active dd a{
	color: #000000;
}
.shopClass_active .aLink{
	color: #fff;
	text-decoration: none;
}
/*shopClass_list弹出的菜单*/
.shopClass_list{
	width: 568px;
	border: #DDDDDD solid 1px;
	position: absolute;
	margin-left: 190px;
	margin-top: 35px;
}
.shopList_cont{
	padding: 0px 20px;
}
.shopList_item{
	padding: 14px 0;
	border-bottom: #ccc solid 1px;
}
.shopList_item dt{
	height: 24px;
	color: #4B88DA;
	font-size: 12px;
	font-family: "微软雅黑","microsoft yahei";
	font-weight: bolder;
	line-height: 24px;
}
.shopList_item dd{
	padding-left: 65px;/*可以用浮动*/
	margin-top: -24px;
	line-height: 24px;
}
.shopList_item dd a{
	margin-right: 8px;
}
.shopList_links{
	padding: 15px 0px;
}
.shopList_links a{
	background-color: #2785E6;
	color: #fff;
	height: 26px;
	line-height: 26px;
	font-size: 12px;
	font-family: "微软雅黑","microsoft yahei";
	padding:0px 10px 0px 8px;
	display: inline-block;
	margin-right: 10px;
}
.shopList_links span{
	width: 11px;
	height: 7px;
	background: url(../img/icon/right.png) left center no-repeat;
	margin-left: 8px;
	display: inline-block;
}
/*banner部分*/
.banner_big,.banner_big img{
	width: 810px;
	height: 326px;
}
.banner_big .imgBox{
	width: 1620px;
	height: 326px;
}
.banner_sm,.banner_sm img{
	width: 190px;
	height: 400px;
}
.banner_sm .imgBox{
	width: 380px;
	height: 400px;
}
.banner_bar{
	float: right;
	position: relative;
	overflow: hidden;
}
.imgBox{
	position: absolute;
	left: 0;
	top: 0;
}
.imgBox li{
	float: left;
}
.imgBox img{
	display: block;
}
.imgNum{
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 15px;
	text-align: center;
}
.imgNum a{
	display: inline-block;
	width: 20px;
	height: 5px;
	background-color: #fff;
	margin: 0px 3px;
	overflow: hidden;
}
.imgNum .active{
	background-color: #FF7700;
}
/*商品标题*/
.shopTit{
	height: 44px;
	font-family: "微软雅黑","microsoft yahei";
	line-height: 44px;
	margin-bottom: 15px;
	margin-top: 15px;
}
.icon{
	background: url(../img/icon/detail.png) left top no-repeat;
	width: 44px;
	height: 44px;
	float: left;
}
.shopTit h3{
	font-weight: normal;
	font-size: 24px;
	float: left;
	padding-left: 15px;
}
.more{
	float: right;
	font-family:"宋体";
}
.more:hover{
	text-decoration:underline ;
}
/*商品列表*/
.shopList .leftArea{
	width: 190px;
}
.shopList .rightArea{
	width: 808px;
	border: #ccc solid 1px;
	border-bottom: #ff7201 solid 3px;
	height: 396px;
	overflow: hidden;
}
/*商品列表—右侧*/
.shopList_top{
	margin-right: -4px;
}
.shop_item{
	width: 202px;
	border-right: #ccc solid 1px;
	border-bottom: #ccc solid 1px;
	height: 279px;
	text-align: center;
	font-family: "微软雅黑","microsoft yahei";
	float: left;
	overflow: hidden;
}
.shop_img{
	height: 200px;
}
.shop_img img{
	padding-top: 46px;
}
.shop_item .title{
	font-size: 16px;
	font-weight: bold;
	color: #000000;
	padding-top: 20px;
}
.shop_item p{
	font-size: 14px;
	color: #ff7300;
	line-height: 21px;
}
/*商品列表-右下*/
.shopItem_sm{
	width: 202px;
	height: 116px;
	border-right: #ccc solid 1px;
	float: left;
}
.shopItem_smImg{
	width: 95px;
	height: 116px;
	float: left;
	text-align: center;
	padding-top: 26px;
}
.shopItem_text{
	padding-top: 25px;
	width: 107px;
	float: left;
}
.shopItem_text .shopTxtName{
	color: #ff7300;
	font-family: "新宋体";
	font-size: 12px;
	line-height: 20px;
}
.shopItem_text .shopTxtPrice{
	font-family: "微软雅黑","microsoft yahei";
	font-size: 16px;
	float: left;
	line-height: 30px;
}
.shopList_sm{
	margin-right: -4px;
}
/*底部*/
.footer{
	background-color: #D4D4D4;
	text-align: center;
	line-height: 24px;
	padding: 50px 0px;
}
.footer i{
	font-style: normal;
	margin: 0px 5px;
}
.footer a{
	color: #000000;
}
.footer a:hover{
	color: #ff7300;
	text-decoration: none;
}
.footer img{
	margin: 0px 12px;
	padding-top: 30px;
}
.hr25{
	height: 25px;
	overflow: hidden;
}
.hr_45{
	height: 45px;
	overflow: hidden;
}
.hr_7{
	height: 7px;
	overflow: hidden;
}
.hr_15{
	height: 15px;
	overflow: hidden;
}
.hr_10{
	height: 10px;
	overflow: hidden;
}
.hr_25{
	height: 25px;
	overflow: hidden;
}
/*产品分类*/
.products .leftArea{
	width: 185px;
}
.products .rightArea{
	width: 810px;
}
.products .banner_bar{
	float: none;
}
.products .item{
	width: 25%;
	*width: 24.9%;
	margin-bottom: 10px;
}	
.leftNav{
	background-color: #f3f3f3;border: #d7d7d7 solid 1px;
}
.vertical .nav_title{
	font-size: 16px;
}
.vertical .nav_cont h3{
	font-family: "微软雅黑" "microsoft yahei";
	font-size: 14px;
}
.vertical .navCont_list li{
	float: none;
	padding-left: 10px;
}
.nav_title{
	height: 34px;
	line-height: 34px;
	font-size: 14px;
	font-family: "新宋体";
	border-bottom: #d7d7d7 solid 1px;
	text-align: center;
}
.nav_cont{
	padding:0px 18px 4px/*三个值代表上、左右、下*/;
	border-bottom: #d7d7d7 dotted 1px;
	margin-bottom: -1px;
}
.nav_cont h3{
	font-size: 12px;
	height: 30px;
	line-height: 30px;
}
.navCont_list{
	line-height: 25px;
}
.navCont_list li{
	float: left;
	width: 50%;
}
/*同类商品详细*/
.sameShopItem{
	height: 80px;
	width: 153px;
	padding: 10px 10px 10px 20px;
	font-size:12px;
}
.sameShopItem img,.sameShopItem p{
	float: left;
}
.sameShopItem p{
	padding-left: 9px;
	width: 85px;
	height: 40px;
	line-height: 20px;
	padding-top: 5px;
	overflow: hidden;
	color: #CCCCCC;
}
.sameShopItem span{
	height: 20px;
	line-height: 20px;
	padding-left: 9px;
	width: 85px;
}
/*标题*/
.products_title{
	height: 34px;
	border-bottom: #cccccc solid 2px;
}
.products_title h3{
	width: 180px;
	font-size: 16px;
	text-indent: 9px;
	border-bottom: #096DBA solid 2px;
	line-height: 34px;
	height: 34px;
	margin-bottom: -2px;
	position: relative;
}
.item{
	float: left;
	height: 265px;
	position: relative;
}
.item_cont{
	padding-left: 15px;
}
.hot{
	position: absolute;
	background: url(../img/item/hot.jpg) left top no-repeat;
	width: 50px;
	height: 50px;
	right: 0;
	top: 0;
}
.img_item{
	height: 170px;
	text-align: center;
}
.img_item img{
	height: 170px;
}
.item p{
	line-height: 20px;
}
.item a{
	color: #000;
}
.item a:hover{
	text-decoration: underline;
}
.money{
	color: #D4105A;
	font-weight: bold;
	padding-top: 10px;
}
.star{
	width: 13px;
	height: 12px;
	overflow: hidden;
	background: url(../img/icon/star.jpg) left top no-repeat;
	display: inline-block;
	margin-right: 1px;
}
/*筛选*/
.screenBody{
	margin-left: 10px;
}
.screening_box{
	border-bottom: #D9D9D9 solid 1px;
	border-top: #D9D9D9 solid 1px;
	width: 796px;
}
.screening{
	border-bottom: #D9D9D9 dotted 1px;
	overflow: hidden;
}
.screening dt{
	height: 32px;
	line-height: 32px;
	width: 74px;
	text-align: right;
	float: left;
	margin-right: 42px;
}
.screening_h dt{
	height: 36px;
	line-height: 36px;
	width: 74px;
	text-align: right;
	float: left;
	margin-right: 42px;
}
.screening_h .screening_list{
	line-height: 36px;
	width: 500px;
	float: left;
}
.limit{
	width: 55px;
	height: 32px;
	line-height: 32px;
	float: left;
}
.screening .active{
	background-color: #1D7AD9;
	color: #fff;
	text-decoration: none;
}
.screening a{
	padding: 2px;
}
.screening_list{
	line-height: 32px;
	width: 500px;
	float: left;
}
.screening_list li{
	float: left;
	width: 20%;
	margin-right: 20px;
}
.screening_list li a{
	color: #1D7AD9;
}
.moreTwo{
	height: 32px;
	line-height: 32px;
	float: left;
	vertical-align: middle;
	_top:8px;
	position: relative;
}
.moreTwo a{
	color: #000;
}
.moreover{
	background: url(../img/icon/downTriangle.jpg) left center no-repeat;
	width: 7px;
	height: 5px;
	display: inline-block;
}
.screen_more{
	border: #D7D7D7 solid 1px;
	height: 23px;
	line-height: 23px;
	margin-top: 4px;
	float: left;
	margin-right: 10px;
	padding-right: 11px;
	padding-left: 11px;
}
.screen_more a{
	background: url(../img/icon/downTriangle.jpg) right center no-repeat;
	text-decoration: none;
	color: #000000;
	padding-right: 14px ;
}
.addInfo{
	height: 31px;
	line-height: 31px;
	background-color: #f5f5f5;
	border: #bfbfbf solid 1px;
}
.address{
	float: left;
}
.add_text{
	float: left;
	line-height: 31px;
	padding-left: 12px;
	padding-right: 6px;
}
.addInfo .select{
	margin-top: 4px;
}
.screen_text{
	float: right;
	line-height: 31px;
	padding-right: 80px;
}
.screen_text span{
	vertical-align: middle;
}
.check{
	position: relative;
	top: -1px;
	_top:4px;
} 
.check input,.check label{
	vertical-align: middle;
}
.shop_number em{
	color: #f00;
	font-style: normal;
	font-weight: bold;
}
.shop_number {
	position: relative;
	_top:4px;
}
.addCar{
	border: #999 solid 1px;
	height: 22px;
	display: inline-block;
	padding: 0 6px 0 23px;
	background: url(../img/icon/car.jpg) 6px center no-repeat;
}
.screening_list_more{
	padding-left: 0.5%;
}
.screening_list_more .item{
	width: 33.3%;
}
/*分页*/
.page{
	text-align: center;
	margin-left: 10px;
	position: relative;
	z-index: 2;
}
.page a{
	text-decoration: none;
	border: #CCCCCC solid 1px;
	padding: 0px 12px;
	height: 24px;
	line-height: 24px;
	display: inline-block;
	margin: 0 1px;
	vertical-align: middle;
	position: relative;
}
.page a:hover{
	background-color: #2266BB;
	color: #FFFFFF;
}
.page span,.page input{
	vertical-align: middle;
	position: relative;
}
.page .hl{
	display: inline-block;
	padding: 0px 12px;
}
.morePage{
	display: inline-block;
	padding-left: 14px;
	height: 24px;
	line-height: 24px;
}
.pageNum{
	height: 24px;
	line-height: 24px\9;
	width: 29px;
	padding: 0px 3px;
	text-align: center;
	border: #CCCCCC solid 1px;
	margin-left: 6px;
}
.page_btn{
	height: 24px;
	line-height: 24px;
	text-align: center;
	width: 44px;
	background-color: #E8E8E8;
	border: #CCCCCC solid 1px;
}
.ye{
	padding: 0 8px 0 6px;
}
/*商品介绍*/
.userPosition{
	font-size: 0;
	font-family: verdana;
	margin-top: 25px;
	margin-bottom: 15px;
}
.userPosition em,
.userPosition span,
.userPosition strong,
.userPosition a{
	font-size: 12px;
}
.userPosition em{
	font-style: normal;
}
.userPosition a:hover{
	text-decoration: underline;
}
.description_info{
	background-color: #FFFFFF;
}
.description{
	border: #CCCCCC solid 1px;
}
.description .leftArea{
	width: 309px;
	overflow: hidden;
}
.description .rightArea{
	width: 688px;
	border-left: #CCCCCC solid 1px;
	overflow: hidden;
}
.description_imgs .big{
	height: 340px;
	text-align: center;
}
.des_smimg{
	padding-left: 1px;
	width: 265px;
	margin: 0 auto;
}
.des_smimg li{
	float: left;
	margin-left: -1px;
}
.des_smimg img{
	border: #CCCCCC solid 1px;
}
.des_smimg .active{
	border-color: #317EE7;
	position: relative;
}
.des_content{
	padding: 10px;
}
.des_content .des_content_tit{
	font: bold 16px/22px "微软雅黑","microsoft yahei";
	padding: 13px 25px;
}
.des_content .dl{
	margin-bottom: 15px;
}
.des_content .dt{
	width: 75px;
	float: left;
	color: #666;
	text-indent: 17px;
	line-height: 25px;
	height: 25px;
}
.des_content .dd{
	padding-left: 75px;
	*padding-left: 0;
}
.des_money{
	font-size: 18px;
	color: #F30;
	font-family: verdana;
	line-height: 25px;
}
.des_money em{
	font-style: normal;
	font-size: 12px;
}
/*换购*/
.hg{
	padding-top: 4px;
	display: inline-block;
}
.hg em{
	font-style: normal;
	line-height: 17px;
	float: left;
}
.hg_icon{
	width: 55px;
	height: 18px;
	display: inline-block;
	font-style: normal;
	color: #FFFFFF;
	background: url(../img/icon/hg_icon.jpg) left top no-repeat;
	text-indent: 16px;
	line-height: 18px;
	margin-right: 10px;
	float: left;
}
/*送货*/
.detailBac{
	background-color: #f2f2f2;
	width: 670px;
	height: 100%;
}
.des_position{
	padding: 20px 0 0 0;
}
.theGoods{
	line-height: 24px;
	padding-left: 10px;
}
.des_item{
	color: #666666;
	padding: 9px 10px;
	border: #CCCCCC solid 1px;
	float: left;
	background-color: #FFFFFF;
	margin-right: 10px;
}
.des_item_active{
	border-color: #317EE7;
	color: #333;
}
.des_item_sm{
	padding: 3px 7px;
	margin-bottom: 8px;
}
.des_content .des_select_more{
	line-height: 55px;
}
/*数量*/
.des_number{
	border: #B2B2B2 solid 1px;
	height: 32px;
	width: 82px;
	float: left;
}
.des_number div{
	height: 100%;
	float: left;
}
.reduction,.plus{
	width: 15px;
	background: url(../img/numadrdu.jpg) left top no-repeat;
	line-height: 32px;
	text-align: center;
	color: #333333;
}
.reduction{
	border-right: #CCCCCC solid 1px;
}
.plus{
	border-left: #CCCCCC solid 1px;;
}
.des_input{
	width: 42px;
	background: url(../img/numbac.jpg) left top no-repeat;
	padding: 0 4px;
	overflow: hidden;
}
.des_input input{
	width: 100%;
	height: 32px;
	line-height: 32px\9;
	text-align: center;
}
.xg{
	line-height: 32px;
	float: left;
	padding-left: 10px ;
	color: #656565;
}
.xg em{
	color: #FB7700;
	font-style: normal;
	font-weight: bold;
}
.des_content .des_num{
	line-height: 32px;
}
/*已选择*/
.des_select{
	text-indent: 27px;
	color: #666666;
	font-family: "宋体";
	font-size: 12px;
	font-weight: bold;
	margin: 12px 0 12px;
}
.des_select span{
	color: #0479CA;
	padding-left: 15px;
}
/*购物车购买*/
.shop_buy{
	height: 90px;
	width: 595px;
	margin-left: 10px;
	padding-left: 75px;
	margin-top: 12px;
}
.buy_car,.buy_now{
	background: url(../img/carBac.jpg) left top no-repeat;
	width: 184px;
	height: 48px;
	float: left;
	margin-top: 20px;
}
.big_car{
	background: url(../img/icon/shopcar.jpg) left top no-repeat;
	width: 23px;
	height: 20px;
	float: left;
	margin: 13px 13px 15px 30px;
	background-color: red;
	*margin-left: 13px;
}
.car_txt{
	font-family: "微软雅黑";
	font-size: 20px;
	color: #FFFFFF;
	padding-top: 13px;
}
.line{
	height: 90px;
	width: 1px;
	display: inline-block;
	background-color: #E5E5E5;
	margin: 0 40px;
	float: left;
	overflow: hidden;
}
.notes{
	color: #999999;
	text-indent: 27px;
	margin: 10px 0;
}
/*产品介绍*/
.des_info .leftArea{
	width: 190px;
}
.des_info .rightArea{
	width: 790px;
}
.recommend{
	border: #CCCCCC solid 1px;
	background-color: #FFFFFF;
}
.recommend .tit{
	height: 39px;
	border-top: #1D86CF solid 2px;
	border-bottom: #CCCCCC solid 1px;
	line-height: 39px;
	text-indent: 15px;
	font-size: 14px;
	background-color: #F3F3F3;
	overflow: hidden;
}
.recommend .item{
	float: none;
	height: auto;
}
.recommend .money{
	padding-top: 0;
}
.recommend .item_cont{
	padding-left: 0;
}
.recommend .item_cont p{
	width: 150px;
	padding-left: 20px;
}
.recommend .img_item{
	height: 160px;
}
/*详细介绍*/
.des_infoContent{
	border: #CCCCCC solid 1px;
	background-color: #FFFFFF;
}
.des_tit{
	height: 39px;
	border-bottom: #CCCCCC solid 1px;
	background: url(../img/icon/title_bac.jpg) left center repeat-x;
}
.des_tit li{
	float: left;
	width: 50%;
	font: 14px/39px "宋体";
	text-align: center;
	border-left: #CCCCCC solid 1px;
	margin-left: -1px;
}
.des_tit .active{
	background-color: #0479CA;
	font-weight: bold;
	color: #FFFFFF;
}
.des_tit .intro{
	background: url(../img/icon/intro.png) left center no-repeat;
	padding-left: 32px;
	line-height: 39px;
	display: inline-block;
}
.des_tit .recom{
	background: url(../img/icon/recom.png) left center no-repeat;
	padding-left: 32px;
	line-height: 39px;
	display: inline-block;
}
.des_tit .intro1{
	background: url(../img/icon/intro1.png) left center no-repeat;
	padding-left: 32px;
	line-height: 39px;
	display: inline-block;
}
.des_tit .recom1{
	background: url(../img/icon/recom1.png) left center no-repeat;
	padding-left: 32px;
	line-height: 39px;
	display: inline-block;
}
.ad{
	padding: 30px 0;
	text-align: center;
}
.info_text{
	padding: 0 20px;
}
.info_tit{
	height: 26px;
	border-bottom: #CCCCCC solid 1px;
	font-family: "微软雅黑","microsoft yahei";
}
.info_tit h3{
	float: left;
	font-size: 16px;
	color: #2357A5;
	border-bottom: #2357A5 solid 1px;
	height: 26px;
	margin-bottom: -1px;
	position: relative;
	padding-right: 8px;
}
.info_tit h4{
	font-size: 12px;
	line-height: 26px;
	padding-left: 4px;
	color: #656565;
}
.info_text p{
	line-height: 22px;
	font-size: 14px;
	color: #656565;
}
.imgCenter{
	text-align: center;
}
/*商品评价*/
.shopDes_tit{
	line-height: 38px;
	height: 38px;
	font-size: 14px;
	color: #656565;
	padding-left: 10px;
}
.score{
	font-family: "微软雅黑","microsoft yahei";
	float: left;
	margin-right: 10px;
}
.score_box{
	padding-top: 10px;
	padding-left: 10px;
	height: 110px;
}
.score span{
	font-size: 50px;
	color: #FF8C00;
}
.score em{
	font-size: 18px;
	color: #65657D;
	font-style: normal;
}
.score_speed{
	float: left;
	width: 450px;
	line-height: 16px;
	font-size: 12px;
	margin-top: 6px;
	position: relative;
}
.score_speed_text{
	overflow: hidden;
	height: 16px;
	background-color: #BDBDBD;
	color: #FFFFFF;
	margin-bottom: 10px;
}
.score_speed_text li{
	float: left;
}
.score_speed_text .speed_01{
	width: 114px;
	text-indent: 26px;
}
.score_speed_text .speed_02{
	width: 82px;
}
.score_speed_text .speed_03{
	width: 76px;
}
.score_speed_text .speed_04{
	width: 65px;
}
.score_num{
	position: absolute;
	left: 93%;
	top: -21px;
	text-align: center;
	width: 25px;
	height: 14px;
	background-color: #7F7F7F;
	color: #FFFFFF;
}
.score_num i{/*下三角*/
	border-width: 4px;
	border-style: solid dashed dashed dashed;
	border-color: #7F7F7F transparent transparent transparent;
	width: 0;
	height: 0;
}
.score_speed p{
	color: #BDBDBD;
}
/*满意切换*/
.review_tab{
	height: 32px;
	background-color: #F2F2F2;
}
.review{
	line-height: 32px;
	height: 100%;
	padding-left: 20px;
	float: left;
}
.review li{
	float: left;
	height: 100%;
	margin-right: 40px;
}
.review li a{
	display: inline-block;
	height: 30px;
	line-height: 30px;
	padding: 0 5px;
}
.review .active{
	color: #317DE6;
	font-weight: bold;
	border-bottom: #317DE6 solid 2px;
	margin-bottom: -2px;
	position: relative;
}
.review_sort{
	padding: 5px 5px 0 0;
	float: right;
}
.review_sort a{
	display: inline-block;
	line-height: 20px;
	height: 20px;
	border: #CCCCCC solid 1px;
	padding: 0 20px 0 6px;
	background: url(../img/icon/down.png) 58px center no-repeat;
}
.review_userHead{
	float: left;
	width: 170px;
}
.review_list{
	padding-top: 18px;
	margin-bottom: 10px;
}
.review_t .starBox{
	float: left;
}
.stars_text{
	float: left;
	font-weight: bold;
	padding-left: 10px;
}
.review_user{
	width: 60px;
	text-align: center;
	margin-left: 40px;
}
.review_user img{
	width: 60px;
	height: 60px;
	display: block;
}
.review_user p{
	line-height: 20px;
}
.review_cont{
	padding-left: 170px;
}
.review_t{
	height: 24px;
	padding-top: 5px;
}
.review_user p{
	color: #777777;
}
.review_cont p{
	line-height: 30px;
	color: #777777;
}
.dateDetail{
	float: right;
	color: #777777;
	line-height: 20px;
	margin-top: -2px;
	padding-right: 24px;
}
.ding,.cai{
	color: #085C9B;
}
/*全部咨询*/
.noborder{
	border: none;
}
.askHead{
	height: 38px;
	border-bottom: #076DBB solid 1px;
	overflow: hidden;
}
.allAsk{
	width: 110px;
	float: left;
	font-size: 14px;
	font-weight: bold;
	line-height: 38px;
	height: 38px;
	color: #076DBB;
	padding-left: 18px;
	border: #076DBB solid 1px;
}
.publicAsk{
	float: right;
	line-height: 38px;
	height: 38px;
	font-size: 12px;
	color: #076DBB;
	padding-right: 26px;
}
.ps{
	width: 737px;
	background-color: #F3F3F3;
	margin-left: 21px;
}
.ps p{
	line-height: 25px;
	color: #777777;
	padding: 5px 15px 5px 20px;
}
.proAsk{
	float: left;
	font-weight: bold;
}
.retell_box{
	width: 588px;
	background-color: #F1F1F1;
	height: auto;
	position: relative;
}
.tell{
	float: left;
	line-height: 25px;
	display: inline-block;
	padding: 15px 0 15px 30px;
}
.retell p{
	float: left;
	line-height: 25px;
	width: 470px;
	color: #777777;
	padding: 15px 0 15px 0;
}
.retell_box i{/*上三角*/
	position: absolute;
	border-width: 4px;
	border-style: dashed dashed solid;/*上:粉碎   左右:粉碎   下:实线*/
	border-color: transparent transparent #F1F1F1;/*上:透明   左右:透明   下:红色*/
	width: 0;
	height: 0;
	top: -8px;
	left: 30px;
}
/*商品评论*/
.nobttmbd{
	border-bottom: none;
}
.notop{
	border-top: none;
}
/*购物车*/
.stepBox{
	width: 396px;
	padding-top: 26px;
	float: right;
}
.step{
	background: url(../img/icon/step.jpg) left top no-repeat;
	height: 19px;
}
.step_text{
	color: #FFFFFF;
	font-size: 12px;
	line-height: 20px;
}
.step_text li{
	float: left;
}
.step_text .active{
	color: #F3E402;
	font-weight: bold;
}
.s01,.s03{
	width: 30%;
}
.s02{
	width: 40%;
	text-align: center;
}
.s03{
	text-align: right;
}
/*收货信息*/
.adsDtl{
	background-color: #F3F3F3;
	border-bottom: #E3E3E3 solid 1px;
	height: 31px;
	color: #444444;
	font-family: "微软雅黑","microsoft yahei";
	line-height: 31px;
	font-size: 16px;
	font-weight: normal;
}
.shopping_list{
	padding: 25px 5px 15px 30px;
}
.shopping_list_text{
	float: left;
	width: 76px;
	line-height: 24px;
}
.shopping_list li{
	height: 24px;
	margin-bottom: 10px;
}
.shopping_list_text em{
	color: #FF0000;
	font-style: normal;
	margin-right: 5px;
	font-weight: bold;
	position: relative;
	top: 2px;
}
.input{
	height: 22px;
	border: #CCCCCC solid 1px;
	padding: 0 6px;
	line-height: 22px\9;
}
.input_b{
	width: 392px;
}
.input_s{
	width: 70px;
}
.input_s2{
	width: 85px;
}
.jian{
	padding: 0 3px;
}
.affirm{
	width: 114px;
	height: 28px;
	background: url(../img/icon/affirm.jpg) left top no-repeat;
	margin-top: 10px;
}
.radio{
	position: relative;
	top:3px;
	margin-right: 4px;
}
.wechat{
	background: url(../img/icon/wechat.jpg) left center no-repeat;
	width: 25px;
	height: 19px;
	display: inline-block;
	position: relative;
	top:5px
}
.pad{
	margin-left: 5px;
	height: 24px;
	line-height: 24px;
}
.btntxt{
	padding: 4px 20px 4px 20px;
	display: inline-block;
	text-align: center;
	margin-top: 16px;
}
.btnsave{
	background: url(../img/btnBac.jpg) left top repeat-x;
	border: #3784ED solid 1px;
	color: #FFFFFF;
}
.btncanc{
	border: #CCCCCC solid 1px;
	margin-left: 10px;
}
.checkBox{
	position: relative;
	top: 3px;
	margin-right: 3px;
}
.backCar{
	padding-left: 810px;
	font-size: 12px;
	font-family: "宋体";
	margin-right: 30px;
	color: #3377FF;
}
.cart_item{
	border-bottom: #CCCCCC solid 1px;
	float: left;
}
.cart_head .cart_item{
	line-height: 28px;
}
.cart_head{
	padding-top: 5px;
}
.t_name{
	width: 440px;
	padding-left: 30px;
}
.t_price{
	width: 134px;
}
.t_return{
	width: 136px;
}
.t_num{
	width: 135px;
}
.t_subtotal{
	width: 123px;
}
.t_red{
	color: red;
}
/*商品信息*/
.cart_cont{
	border-bottom: #CCCCCC solid 1px;
}
.cart_cont .cart_item{
	border-bottom: none;
}
.cart_cont .t_price,.cart_cont .t_return,.cart_cont .t_num,.cart_cont .t_subtotal{
	line-height: 37px;
}
.cart_shopInfo img{
	width: 90px;
	height: 100px;
	display: block;
	float: left;
}
.cart_shopInfo_cont{
	padding-left: 90px;
	font-size: 12px;
}
.cart_link{
	line-height: 37px;
	margin-bottom: 30px;
}
.cart_link a:hover{
	text-decoration: underline;
}
.cart_info{
	color: #000000;
}
.cart_message{
	line-height: 40px;
	padding-left: 30px;
	margin-bottom: 10px;
	color: #3377FF;
}
.cart_prompt{
	line-height: 40px;
	padding-left: 30px;
	color: red;
}
.cart_prompt_icon{
	width: 12px;
	height: 12px;
	display: inline-block;
	background: url(../img/icon/cart_prompt_icon.jpg) left top no-repeat;
	margin-right: 11px;
	position: relative;
	top: 2px;
}
.pb_10{
	padding-bottom: 10px;
}
.cart_no_border{
	border-bottom: none;
}
/*订单结算*/
.cart_count{
	float: right;
	padding: 30px 25px;
}
.cart_rmb i{
	font-size: 14px;
	color: #999999;
	font-style: normal;
}
.cart_rmb span{
	font-size: 24px;
	color: red;
	font-family: verdana;
	font-weight: bold;
}
.submit{
	width: 167px;
	height: 35px;
	background-color: red;
	color: #FFFFFF;
	margin-top: 17px;
	font: 18px/33px "microsoft yahei","微软雅黑";
}
.shoped_item{
	height: 140px;
}
.cart_tel,.input{
	vertical-align: middle;
}

















/*组件*/
.select{
	border: #999 solid 1px;
	height: 22px;
	line-height: 22px;
	float: left;
	background-color: #FFFFFF;
	padding-left: 10px;
	padding-right: 20px;
	position: relative;
	z-index: 4;
}
.select h3{
	font-size: 12px;
	font-weight: normal;
}
.select span{
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 20px;
	background: url(../img/icon/blueTriangle.jpg) center center no-repeat;
}
.show_select{
	border: #999 solid 1px;
	position: absolute;
	left: -1px;
	top: 22px;
	width: 100%;
	background-color: #FFFFFF;
	display: none;
}
.show_select li{
	padding-left: 10px;
}

