/*公用*/
.comWidth{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
.hide{
	display: none;
}
.show{
	display: block;
}
.leftArea{
	float: left;
}
.rightArea{
	float: right;
}
/*topBar*/
.topBar{
	height: 30px;
	background-color: #f7f7f7;
	line-height: 30px;
}
.topBar a:hover{
	color: dodgerblue;
}
.collection{
	background: url(../img/icon/collection.jpg) left center no-repeat;
	padding-left: 19px;
	font-weight:bold;
}
/*logoBar*/
.logoBar{
	height: 85px;
	background-color: #1D7AD9;
}
/*logo*/
.logo{
	padding-left: 41px;
	padding-top: 13px;
	float: left;
}
/*search*/
.search_box{
	width: 430px;
	float: left;
	padding-top: 23px;
	padding-left: 185px;
}
.search_text{
	width: 350px;
	height: 35px;
	float: left;
	background-color: #fff;
	line-height: 35px\9;
	padding: 0 5px;
}
.search_btn{
	width:70px;
	height: 35px;
	font-family: "microsoft yahei","微软雅黑";
	font-size: 14px;
	color: #fff;
	background-color: #FF8C00;
}
/*shopCar*/
.shopCar{
	float: right;
	width: 145px;
	height: 35px;
	margin-top: 23px;
	margin-right: 59px;
	background-color: #FF8C00;
}
.shopText{
	background: url(../img/icon/shopcar.jpg) 10px center no-repeat;
	float: left;
	color: #fff;
	line-height: 35px;
	height: 100%;
	width:87px;
	font-family: "microsoft yahei","微软雅黑";
	font-size: 14px;
	text-indent: 40px;
	border-right: #E27A00 solid 1px;
}
.shopNum{
	float: left;
	background: url(../img/icon/num.jpg) 33px center no-repeat;
	color: #fff;
	font: 14px/35px "微软雅黑","microsoft yahei";
	border-left: #FF9C01 solid 1px;
	width: 27px;
	height: 35px;
	text-align: right;
	padding-right: 29px;
}
/*导航*/
.navBox{
	height: 35px;
	color:#fff;
	background-color: #1369C0;
}
.shopClass{
	float: left;
	width: 190px;
	position: relative;
}
.shopClass h3{
	font-size: 16px;
	font-family: "微软雅黑","microsoft yahei";
	text-align: center;
	line-height: 35px;
}
.shopClass i{
	background: url(../img/icon/triangle.png) left center no-repeat;
	width: 11px;
	height: 7px;
	overflow: hidden;
	margin-left: 11px;
	display: inline-block;
}
/*nav*/
.nav{
	line-height: 35px;
}
.nav li{
	float: left;
}
.nav a{
	text-align: center;
	display: inline-block;
	font-family: "微软雅黑","microsoft yahei";
	color: #fff;
	font-size: 14px;
	padding: 0 35px;
	height: 35px;
}
.nav .active{
	background-color: #4593FD;
	text-decoration: none;
}
/*导航栏弹出列表*/
.shopClass_show{
	background-color: #4593FD;
	width: 100%;
	position: absolute;
	top: 35px;
	left: 0px;
}
.shopClass_item{
	padding: 16px 10px;
	border-top: #5AA1FE solid 1px;
	border-bottom: #3487F2 solid 1px;
}
.shopClass_item dt{
	background: url(../img/icon/right.png) right center no-repeat;
	padding-bottom: 5px;
}
.shopClass_item dt a{
	font: 14px/1 "微软雅黑","microsoft yahei";
	color: #fff;
	height: 24px;
	font-weight: bold;
}
.shopClass_item dd a{
	font: 14px/1 "微软雅黑","microsoft yahei";
	color: #fff;
}
.shopClass_item .aLink{
	width: 48px;
	height: 20px;
	background: url(../img/icon/background.png) left center no-repeat;
	display: inline-block;
	line-height: 20px;
	text-align: center;
	font-weight: normal;
	font-size: 12px;
}
.shopClass_active/*动态*/{
	background: #fff;
	border-left: #4593FD solid 1px;
}
.shopClass_active dt{
	background: none;
}
.shopClass_active dt a{
	color: #000000;
}
.shopClass_active dd a{
	color: #000000;
}
.shopClass_active .aLink{
	color: #fff;
	text-decoration: none;
}
/*shopClass_list弹出的菜单*/
.shopClass_list{
	width: 568px;
	border: #DDDDDD solid 1px;
	position: absolute;
	margin-left: 190px;
	margin-top: 35px;
}
.shopList_cont{
	padding: 0px 20px;
}
.shopList_item{
	padding: 14px 0;
	border-bottom: #ccc solid 1px;
}
.shopList_item dt{
	height: 24px;
	color: #4B88DA;
	font-size: 12px;
	font-family: "微软雅黑","microsoft yahei";
	font-weight: bolder;
	line-height: 24px;
}
.shopList_item dd{
	padding-left: 65px;/*可以用浮动*/
	margin-top: -24px;
	line-height: 24px;
}
.shopList_item dd a{
	margin-right: 8px;
}
.shopList_links{
	padding: 15px 0px;
}
.shopList_links a{
	background-color: #2785E6;
	color: #fff;
	height: 26px;
	line-height: 26px;
	font-size: 12px;
	font-family: "微软雅黑","microsoft yahei";
	padding:0px 10px 0px 8px;
	display: inline-block;
	margin-right: 10px;
}
.shopList_links span{
	width: 11px;
	height: 7px;
	background: url(../img/icon/right.png) left center no-repeat;
	margin-left: 8px;
	display: inline-block;
}
